.blog{
    margin-top: 239px;
    &__content{
        text-align: center;
    }
    &__title{
        text-align: center;
    }
    &__info{
        @include font("Roboto", 700, 48, #211F54);
        margin-bottom: 21px;
        
    }
    &__description{
        @include font("Roboto", 400, 21, #6E7191);
        width: 648px;
        margin: 0 auto;
    }
    &__suptitle{
        @include font("Roboto", 700, 28, #211F54);
        margin-top: 39px;
    }
    &__text{
        @include font("Roboto", 400, 21, #6E7191);
        margin-top: 16px;
        width: 412px;
    }
    &__post{
        display: flex;
        margin-top: 58px;
    }
    &__button{
        margin-top: 57px;
    }

    &__button--blue{
        @include font("Roboto", 700, 18, #FFFFFF);
        text-align: center;
        background: #0075FF;
        border-radius: 14px;
        padding: 26px 38px;
    }
    &__button--white{
        @include font("Roboto", 700, 18, #070000);
        text-align: center;
        background: #aac3e0;
        border-radius: 14px;
        padding: 26px 38px;
    }
}