.header{
    padding-top: 47px;
    padding-bottom: 46px;
    &__content{
    display: flex;
    }
    &__name{
        @include font("Roboto", 400, 18, #211F54);
    }
    &__menu{
        @include font("Roboto", 400, 18, #211F54);
        margin-left: 22px;
    }
    &__list{
        display: flex;
        align-items: center;
        margin-left: 42px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__btn{
        display: flex;
        align-items: center;
        margin-left: 334px;
    }
}

.burger {
    display: none;
    &__line {
        width: 30px;
        height: 5px;
        background: #000;
        margin: 3px 0;
    }

    &__menu {
        position: absolute;
        right: 40px;
    }

    &__list {
        padding: 40px 0;
        width: 50vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background: white;
        display: none;
    }

    &__close {
        display: none;
    }

    &.active &__close {
        font-size: 25px;
        font-weight: 900;
        display: block;
    }

    &.active &__list {
        display: flex;
    }

    &.active &__line {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .header {
        &__label {
            display: none;
        }
        &__list {
            display: none;
        }
    }

    .burger {
        display: block;
    }
}