.hero{
    &__content{
        display: flex;
    }
    &__title{
        @include font("Roboto", 700, 68, #211F54);
        line-height: 74px;
        margin-top: 227px;
        margin-bottom: 22px;
    }
    &__description{
        @include font("Roboto", 400, 21, #6E7191);
    }
    &__suptitle{
        display: flex;
        margin-top: 33px;
    }
    &__info{
        @include font("Roboto", 400, 16, #6E7191);        
        text-transform: uppercase;
    }
    &__number{
        @include font("Roboto", 700, 28, #211F54);
    }
    &__form{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}