.room{
    margin-top: 200px;
    margin-bottom: 200px;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__box{
        display: flex;
        justify-content: space-between;
    }
    &__check{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__link{
        margin-bottom: 30px;
    }
    &__title{
        @include font("Roboto", 700, 48, #211F54);
        margin-bottom: 19px;
        max-width: 478px;

    }
    &__description{
        @include font("Roboto", 400, 18, #6E7191);
        margin-bottom: 16px;
        max-width: 496px;
    }
    &__name{
        @include font("Roboto", 700, 18, #000);
    }
    &__tick{
        display: flex;
        justify-content: space-around;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__btn{
        @include font("Roboto", 400, 16, #FFFFFF);
        text-align: center;
        background: #0075FF;
        border-radius: 14px;
        padding: 17px 24px 19px 24px;
    }
    &__suptitle{
        @include font("Roboto", 400, 12, #6E7191);
    }
    /*следущий ряд*/
    &__cube{
        display: flex;
        margin-top: 224px;
    }
    &__wash{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__number{
        @include font("Roboto", 700, 54, #211F54);
    }
    &__call{
        @include font("Roboto", 700, 18, #6E7191);
    }
    &__plus{
        @include font("Roboto", 400, 54, #0075FF);
    }
    &__order{
        display: flex;
        justify-content: space-between;
    }
}