.room{
    margin-top: 200px;
    &__box{
        display: flex;
        align-items: center;
    }
    &__title{
        @include font("Roboto", 700, 48,#211F54);
         width: 478px;
    }
    &__suptitle{
        @include font("Roboto", 400, 18,#6E7191);
        width: 496px;
    }
    &__name{
        @include font("Roboto", 700, 18, #211F54);
    }
    
    &__ticks{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 108px;
    }
    &__tisk{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 108px;
    }
    &__room{
        display: flex;
        justify-content: space-around;
    }
    &__button{
        @include font("Roboto", 700, 18, #FFFFFF);
        text-align: center;
        background: #0075FF;
        border-radius: 14px;
        padding: 26px 38px;
    }

    &__make{
        display: flex;
        align-items: center;
    }
    &__different{
        @include font("Roboto", 700, 48, #211F54);
        width: 346px;
        margin-top: 224px;
    }

    &__veniam{
        @include font("Roboto", 400, 18,#6E7191);
        width: 496px;
        margin-top: 16px;
    }
    &__sed{
        @include font("Roboto", 400, 12,#6E7191);
        width: 465px;
        margin-top: 15px;
    }
    &__img{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    &__nb{
        @include font("Roboto", 700, 54, #211F54);
    }
    &__plus{
        @include font("Roboto", 400, 54, #0075FF);
    
    }
    &__depiction{
        @include font("Roboto", 700, 18,#6E7191);
        
    }
    &__nbplus{
        display: flex;
    }
    &__numbers{
        display: flex;
    }
    &__grow{
        margin-top: 25px;
        margin-left: 54px;
        margin-bottom: 48px;
    }
}