.virus{
    &__content{
    background: #211F54;
    border-radius: 24px;
    }
    &__box{
        display: flex;
        align-items: center;
    }
    &__sani{
        @include font("Roboto", 700, 16, #ffff);
        text-transform: uppercase;
        padding-bottom: 14px;
    }
    &__title{
        @include font("Roboto", 700, 48, #ffff);
        width: 491px;
        padding-bottom: 14px;
    }
    &__description{
        @include font("Roboto", 400, 16, #ffff);
        padding-bottom: 38px;
    }
}